<div class="main">
    <!-- <img class="main-img" src="./image 110.png" alt=""> -->
    <div class="landing">
        <p class="large">
            Best food for your taste
        </p>
        <p class="small">
            Discover delectable cuisine and unforgettable moments in our welcoming, culinary haven.
        </p>
        <div class="buttons-div">
            <button class="book-btn">Book A Table</button>
            <button class="explore-menu-btn">Explore Menu</button>
        </div>
    </div>
</div>
