<div class="main">
    <div class="header">
        <p class="heading">Book A Table</p>
        <p class="para">We consider all the drivers of change gives you the components you need to change to create a truly happens.</p>
    </div>

    <form class="book">
        <div class="data-section">
            <div class="inner-data-div">
                <label for="date">Date</label>
                <input type="date" name="date">
            </div>
            <div class="inner-data-div">
                <label for="time">Time</label>
                <input type="time" name="time">
            </div>
        </div>
        <div class="data-section">
            <div class="inner-data-div">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Enter Your name">
            </div>
            <div class="inner-data-div">
                <label for="phone">Phone</label>
                <input type="text" name="phone" placeholder="x-xxx-xxx-xxxx">
            </div>
        </div>
        <div class="inner-data-div last">
            <label for="total">Total Person</label>
            <input class="" type="number" min="1">
        </div>
        <input type="submit" class="submit" value="Book A Table">
    </form>
    <div class="map-frame">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4098.090314892291!2d31.484130821188355!3d30.26360219045751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145805a9484335ff%3A0x9893e1f2b53ed494!2sMasjed%20Alkholafaa%20Alrashden!5e0!3m2!1sen!2seg!4v1726952906999!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<app-footer></app-footer>