<div class="main">
    <div class="head">
        <p class="header">Our Menu</p>
        <p class="para">We consider all the drivers of change gives you the components you need to change to create a truly happens.</p>
    </div>
    <div class="options">
        <button class="selected">All</button>
        <button>Breakfast</button>
        <button>Main Dishes</button>
        <button>Drinks</button>
        <button>Desserts</button>
    </div>
    <div class="menu">
        <div class="card">
            <img class="" src="./pexels-daniela-constantini-5591664 1.png" alt="">
            <p class="price">$9.99</p>
            <p class="title">Fried Eggs</p>
            <p class="description">Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
        <div class="card">
            <img class="" src="./pexels-maksim-goncharenok-4773769 1.png" alt="">
            <p class="price">$15.99</p>
            <p class="title">Hawaiian Pizza</p>
            <p class="description">Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
        <div class="card">
            <img class="" src="./pexels-nadin-sh-12956424 1.png" alt="">
            <p class="price">$7.25</p>
            <p class="title">Martinez Cocktail</p>
            <p class="description">Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
        <div class="card">
            <img class="" src="./pexels-ruslan-khmelevsky-7845121 1.png" alt="">
            <p class="price">$20.99</p>
            <p class="title">Butterscotch Cake</p>
            <p class="description">Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
        <div class="card">
            <img class="" src="./pexels-bam-awey-5335918 1.png" alt="">
            <p class="price">$7.25</p>
            <p class="title">Mint Lemonade</p>
            <p class="description">Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
        <div class="card">
            <img class="" src="./pexels-roman-odintsov-5061254 1.png" alt="">
            <p class="price">$7.25</p>
            <p class="title">Chocolate Icecream</p>
            <p class="description">Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
        <div class="card">
            <img class="" src="./pexels-pixabay-327158 1.png" alt="">
            <p class="price">$7.25</p>
            <p class="title">Cheese Burger</p>
            <p class="description">Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
        <div class="card">
            <img class="" src="./pexels-nicola-barts-7937386 1.png" alt="">
            <p class="price">$7.25</p>
            <p class="title">Classic Waffles</p>
            <p class="description">Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->